ComPdfKey=secret_key
BASE_URL=127.0.0.1:8000 # must not have http
FILE_URL=http://127.0.0.1:8000/storage # must have http

# Google Calendar OAuth Configuration
GOOGLE_CLIENT_ID_WEB=YOUR_WEB_CLIENT_ID.apps.googleusercontent.com
GOOGLE_CLIENT_ID_IOS=YOUR_IOS_CLIENT_ID.apps.googleusercontent.com
GOOGLE_CLIENT_ID_ANDROID=YOUR_ANDROID_CLIENT_ID.apps.googleusercontent.com